.landing-page-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 30px;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
}

.gps-icon :hover,
.nav-link:hover {
  cursor: pointer;
  color: rgb(231, 228, 228);
}

.gps-icon {
  color: white;
  font-size: 30px;
  width: 20%;
}

.place {
  font-size: x-large;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
  padding: 5px 7px;
  border: 1px solid white;
  border-radius: 4px;
  height: 20px;
  width: 108px;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.weather-icon {
  margin-right: 10px;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.temperature-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.temperature {
  font-size: xx-large;
  font-weight: 700;
  margin-right: 15px;
}
.summary {
  font-size: x-large;
  font-weight: 500;
}
.feelslike-info {
  font-size: 11px;
}
.daysummary {
  margin-top: 25px;
  text-align: center;
  font-size: 20px;
}

.hourly-data,
.weekly-data {
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
  padding: 10px;
  /* width: 100%; */
  border: solid 1px white;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
}

.weekData {
  color: white;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.weekday {
  text-align: center;
  font-weight: 600;
}
.weekly-icon,
#hourly-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.day-summary {
  /* font-size: small; */
  font-size: 9px;
}

.hourData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* justify-content: center; */
  align-items: center;
}

.hour {
  font-size: 12px;
  margin-bottom: 5px;
}

#hourly-timperature {
  margin-top: 5px;
  font-weight: 700;
}

.day-summary,
.hour-summary {
  font-size: 9px;
  text-align: center;
}

.hour-summary {
  /* margin: 0px 2px; */
}

.days-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.selectedday {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectedday span {
  margin-right: 10px;
}

.calender {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.nextday,
.previousday {
  font-size: small;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nextday:hover,
.previousday:hover {
  cursor: pointer;
}

.dayinfo,
.sun-rise-set,
.temperature-range {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.dayinfo {
  margin-top: 20px;
}

.temperature-range {
}

.temp-range {
  font-weight: 700;
  font-size: large;
}

.temp-time {
  font-size: small;
  margin: 0px 5px;
}

.uv-lable,
.visibility-lable,
.wind-lable {
  font-size: 13.5px;
  font-weight: 600;
}
.uv-value,
.visibiltiy-value,
.wind-value {
  font-size: small;
  margin: 0px 5px;
}

.uv-value,
.visibiltiy-value {
  margin-right: 15px;
}

.dayinfo-units {
  font-size: smaller;
  /* font-style: italic; */
  margin: 0px 3px;
}
